#login-screen
  display flex
  justify-content center
  align-items center
  flex-direction column
  height 100vh
  h1
    color rgb(255, 127, 0)
  .grey-text
    color lightgray

#colorchanger
  .sidebar
    .list-group-item.active, .list-group-item.selected
      background-color rgb(219, 219, 219)
      color rgb(65, 65, 66)
  .colorpicker
    .predefined-colors
      display flex
      justify-content center
      padding-top 5px
      .color-block
        width 40px
        height 40px
        border-style solid
        border-color rgb(216, 216, 216)
        border-width 1px
        border-radius 25px
        margin-left 1px
        margin-right 1px
    .buttons
      display flex
      justify-content center
      padding-top 25px