.predefined-colors{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.color-block{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 1px;
    border-radius: 25px;
    margin-left: 1px;
    margin-right: 1px;
}

.color-1{
    background-color: #0084FF;
}

.color-2{
    background-color: #44BEC7;
}

.color-3{
    background-color: #FFC300;
}

.color-4{
    background-color: #FA3C4C;
}

.color-5{
    background-color: #D696BB;
}

.color-6{
    background-color: #6699CC;
}

.color-7{
    background-color: #13CF13;
}

.color-8{
    background-color: #FF7E29;
}

.color-9{
    background-color: #E68585;
}

.color-10{
    background-color: #7646FF;
}

.color-11{
    background-color: #20CEF5;
}

.color-12{
    background-color: #67B868;
}

.color-13{
    background-color: #D4A88C;
}

.color-14{
    background-color: #FF5CA1;
}

.color-15{
    background-color: #A695C7;
}

