doctype html
html
  head
    title Phoenix: Messenger Color Changer
    // Stylesheets
    link(rel='stylesheet', href='css/colorchanger.styl')
    link(rel='stylesheet', href='../bower_components/photon/dist/css/photon.min.css')
    link(rel='stylesheet', href='../node_modules/simple-color-picker/src/simple-color-picker.css')
    script(src='../bower_components/angular/angular.min.js')
    script(src='js/phoenix.coffee')
  body(ng-app='phoenix')

    // Login screen
    .window.login-screen(ng-if='!api')
      img.logo(src='img/facebook-messenger.svg', width='150px', height='150px')
      h1 Phoenix
      .info  {{ login_info }}
      br
      form.login-form
        .form-group
          label(for='username') Facebook login or phone number
          input#username.username.form-control(type='text')
        .form-group
          label(for='password') Facebook password
          input#password.password.form-control(type='password')
        input.login-button.btn.btn-large.btn-warning(type='submit', value='Continue', ng-disabled='submitted')
        p.grey-text Use at your own risk, we are not responsible for the account lockout.
        p.grey-text We do not send your data to the NSA ;) (facebook does)

    // Color changer
    .window.colorchanger(ng-if='!!api')
      .window-content
        .pane-group
          .pane.pane-sm.sidebar
            ul.list-group.conversations
              li.list-group-item.conversation(ng-repeat='thread in contacts', id='{{ thread.id }}', ng-class='{active: active.id == thread.id}')
                img.img-circle.media-object.pull-left(ng-src='{{thread.image}}', alt='')
                .color(ng-style='{ background: thread.color }')
                .media-body
                  strong {{ thread.name }}
          .pane.colorpicker-holder
            .kot(ng-style='{ background: (thread(active.id)||{}).newColor || (thread(active.id)||{}).color }')
            .colorpicker(ng-if='!!active')
            .predefined-colors
              .color-block(ng-repeat="color in predefinedColors" ng-style='{backgroundColor: color}')
            .buttons
              .color-block.small.randoooom
              button.btn.btn-large.btn-warning.change-button Change color

